In [31]:
import seaborn as sns
import pandas as pd

file = sns.load_dataset("titanic")
file = file[["pclass", "sex", "age", "sibsp", "parch", "fare", "embark_town"]]
file = file.dropna()
file['sex'] = file['sex'].map({'male': 0, 'female': 1})
town_mapping = {'Southampton': 0, 'Cherbourg': 1, 'Queenstown': 2}
file['embark_town'] = file['embark_town'].map(town_mapping)
print(file)

     pclass  sex   age  sibsp  parch     fare  embark_town
0         3    0  22.0      1      0   7.2500            0
1         1    1  38.0      1      0  71.2833            1
2         3    1  26.0      0      0   7.9250            0
3         1    1  35.0      1      0  53.1000            0
4         3    0  35.0      0      0   8.0500            0
..      ...  ...   ...    ...    ...      ...          ...
885       3    1  39.0      0      5  29.1250            2
886       2    0  27.0      0      0  13.0000            0
887       1    1  19.0      0      0  30.0000            0
889       1    0  26.0      0      0  30.0000            1
890       3    0  32.0      0      0   7.7500            2

[712 rows x 7 columns]